<div class="row">
<div class="col s12 m6 l5 profile-page">
  <div class="frame">
    <div class="center">

      <div class="profile">
        <div class="image">
          <div class="circle-1"></div>
          <div class="circle-2"></div>
          <img [src]="profile.image" width="70" height="70" [alt]="profile.firstName">
        </div>

        <div class="name">{{profile.firstName}} &nbsp; {{profile.lastName}}</div>
        <div class="job">STANDARD : {{profile.standard}}</div>

      </div>

      <div class="stats">
        <div class="box">
          <span class="value">{{numberOfTest}}</span>
          <span class="parameter">Test Written</span>
        </div>
        <div class="box">
          <span class="value">{{numberOfTestPassed}}</span>
          <span class="parameter">Tests Passed</span>
        </div>
        <div class="box">
          <span class="value">{{numberOfAbsent}}</span>
          <span class="parameter">Leave Taken</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col s12 m6 l7 stud-details">
  <div class="row">
    <div class="col s12 m4 l4">
    <div class="stud-info">Parent name</div>
    </div>
    <div class="col s12 m8 l8">
    <div>{{profile.parentName}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
    <div class="stud-info">Phone number</div>
    </div>
    <div class="col s12 m8 l8">
    <div>{{profile.phoneNumber}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
    <div class="stud-info">Email ID</div>
    </div>
    <div class="col s12 m8 l8">
    <div>{{profile.email}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
    <div class="stud-info">Fees mode</div>
    </div>
    <div class="col s12 m8 l8">
    <div>{{profile.feesMode}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
    <div class="stud-info">Last fees paid on</div>
    </div>
    <div class="col s12 m8 l8">
    <div>{{profile.lastFeesPaid}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
    <div class="stud-info">School</div>
    </div>
    <div class="col s12 m8 l8">
    <div>{{profile.school}}</div>
    </div>
  </div>
</div>
</div>
