
<div class="profile-page">
  <div class="frame">
    <div class="center">

      <div class="profile">
        <div class="image">
          <div class="circle-1"></div>
          <div class="circle-2"></div>
          <img [src]="profile.image" width="70" height="70" [alt]="profile.firstName">
        </div>

        <div class="name">{{profile.firstName}} &nbsp; {{profile.lastName}}</div>
        <div class="job">STANDARD : {{profile.standard}}</div>

      </div>

      <div class="stats">
        <div class="box">
          <span class="value">{{numberOfTest}}</span>
          <span class="parameter">Test Written</span>
        </div>
        <div class="box">
          <span class="value">{{numberOfTestPassed}}</span>
          <span class="parameter">Tests Passed</span>
        </div>
        <div class="box">
          <span class="value">{{numberOfAbsent}}</span>
          <span class="parameter">Leave Taken</span>
        </div>
      </div>
    </div>
  </div>
</div>

