<div>
  <form [formGroup]= "searchStudentForm" (ngSubmit) = "getStudentDetails()" novalidate>
      <mat-form-field>
          <input matInput formControlName = "searchRollNumber" required placeholder="Search...">
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit">Search</button>
  </form>
  
</div>
<div>
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="studentInfoFromGroup">
      <form [formGroup]="studentInfoFromGroup">
        <div>
          <ng-template matStepLabel>Fill out Student's Details</ng-template>
          <div>
            <div>
  
              <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstName" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Last Name" formControlName="lastName" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field >
              <mat-form-field >
                <mat-select placeholder="standard" formControlName="standard" (change)="getRollNumber()" [(ngModel)]="standards">
                  <mat-option value="9">9</mat-option>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="11">11</mat-option>
                  <mat-option value="12">12</mat-option>
  
                </mat-select>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input matInput placeholder="Roll Number " formControlName="rollNumber" [(ngModel)]="rollnumber">
                <mat-error>This field is required</mat-error>
              </mat-form-field>
  
              <mat-form-field >
                <input matInput placeholder="School Name" formControlName="school" required>
                <mat-error>This field is required</mat-error>
              </mat-form-field>
            </div>
          </div>
  
          <div>
            <button mat-raised-button matStepperNext color="accent">Next</button>
          </div>
        </div>
      </form>
  
    </mat-step>
    <mat-step [stepControl]="parentInfoFromGroup">
      <form [formGroup]="parentInfoFromGroup">
        <div>
          <ng-template matStepLabel>
            <div>Fill out Parent's Details</div>
          </ng-template>
          <mat-form-field>
            <input matInput placeholder="Parent Name" formControlName="parentName" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="E-mail Address" formControlName="email">
            <mat-error>This field is required</mat-error>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="accent">Next</button>
          </div>
        </div>
      </form>
  
    </mat-step>
    <mat-step [stepControl]="imageInfoFromGroup">
      <form [formGroup]="imageInfoFromGroup">
        <div>
  
          <ng-template matStepLabel>
            Image uploader
          </ng-template>
          <input type="file" (change)="fileChangeEvent($event)" />
  
  <div>
  <image-cropper
  
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
    style="max-height: 33vh"
    [style.display]="cropperReady ? null : 'none'"
  ></image-cropper>
  </div>
  <img [src]="croppedImage" />
          <div>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button color="accent" type="submit" (click)="updateStudent()">Save</button>
            <button type="button"mat-raised-button (click)="linearVerticalStepper.reset()" color="accent">Reset</button>
          </div>
        </div>
      </form>
  
    </mat-step>
  </mat-horizontal-stepper>
</div>

