.btc-login{
  padding-top: 27px;
  padding-bottom: 28px;
  position: relative;
}
.btc-login-title {
  height: 48px;
  font-family: sans-serif;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 20px;
}
.modal-box{
  text-align: center;
}
.inputs{
  margin: 0px;
}
.sign-in{
  padding-top: 20px;
}
.btn-sign{
  height: 34px;
  border-radius: 3px;
  background-color: #131313;
  padding: 0 4rem;
}
.demo-close {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -12px;
  padding: 6px;
  background: #000000;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  height: 31px;
}
.demo-close:hover {
  background: rgba(0,0,0,0.6);
}
.modal-icon{
  padding-top: 2px;
  font-size: 18px;
  color: white;
}
