<div class="container">
<section class="form-elegant">

  <!--Form without header-->
  <div class="card grey lighten-5">

    <div class="card-body mx-4">

      <!--Header-->
      <div>
        <h4 class="dark-grey-text mb-5">Please set your password</h4>
      </div>
      <form [formGroup]="passwordForm" (submit) = "savePassword()" class="row modal-box">
        <div class="row">
        <mat-form-field class="col s12 m4">
          <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="col s12 m4">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
          <mat-error>This field is required</mat-error>
        </mat-form-field >
        <!--<div class="col s12 m6">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
        </div>-->
        </div>
      <div class="text-center">
        <button type="button" class="btn btn-outline-save waves-effect" (click)="savePassword()">Save & Logout</button>
      </div>
      </form>
    </div>
    <!--Footer-->
  </div>
  <!--Form without header-->
</section>
</div>
