<div class="container">
<section class="form-elegant">

  <!--Form without header-->
  <div class="card grey lighten-5">

    <div class="card-body mx-4">

      <!--Header-->
      <div>
        <h4 class="dark-grey-text mb-5">Please set your password</h4>
      </div>

      <!--Body-->
      <div class="md-form">
        <input type="text" id="Form-email1" class="form-control">
        <label for="Form-email1">New Password</label>
      </div>

      <div class="md-form pb-3">
        <input type="password" id="Form-pass1" class="form-control">
        <label for="Form-pass1">Confirm password</label>
      </div>

      <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-save waves-effect">Save & Logout</button>
      </div>
    </div>
    <!--Footer-->
  </div>
  <!--Form without header-->
</section>
</div>
