<!-- [selected]="selected"
[selectionType]="'checkbox'"
[selectAllRowsOnPage]="false"
[displayCheck]="displayCheck" -->

<ngx-datatable
style="height: 64vh"
#myTable
class='material '
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[scrollbarV]="true"
[scrollbarH]="false"
[rows]="test"
[rowHeight]="45"
[limit]="controls.pageSize"
(page)="onPage($event)"
>
<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
            <div>
                <!--<div><strong>Details</strong></div>
                <div>{{row.subject}}, {{row.mark}}  {{row.fullMark}}
                </div>-->
              <div><strong>Details</strong></div>
              <div><span class="label">Subject :</span> {{row.subject}}</div>
              <div><span class="label">Marks Scored / Marks Written :</span> {{row.mark}} out of {{row.fullMark}}</div>
              <div><span class="label">Percentage :</span> {{row.percentage}}</div>
            </div>
        </ng-template>
    </ngx-datatable-row-detail>
    <!-- Column Templates -->

    <ngx-datatable-column
            [width]="40"
            [maxWidth]="40"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true"
            [cellClass]="getCellClass">
    </ngx-datatable-column>
<ngx-datatable-column [width]="30" [maxWidth]="30" [cellClass]="getCellClass">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a class="desktop-hidden fa"
           [class.fa-plus]="!expanded"
           [class.fa-minus]="expanded"
           title="Expand/Collapse Row"
           (click)="toggleExpandRow(row)">
        </a>
    </ng-template>
</ngx-datatable-column>
<ngx-datatable-column  name="date" [minWidth]="150" [width]="200" [canAutoResize]="true"
                              [cellClass]="getCellClass">

             <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                 {{'Date'}}
             </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{row.date | date}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="type" [minWidth]="30" [width]="70" [canAutoResize]="true" [cellClass]="getCellClass">

            <ng-template let-column="column"  let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden">{{'Subject'}}</span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden ">{{row.subject}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="checkin" [minWidth]="30" [width]="70" [canAutoResize]="true" [cellClass]="getCellClass">

            <ng-template let-column="column"  let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden">{{'Mark Scored'}}</span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden ">{{row.mark}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="checkout" [minWidth]="30" [width]="70" [canAutoResize]="true" [cellClass]="getCellClass">

            <ng-template let-column="column"  let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden">{{'Mark Written'}}</span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden ">{{row.fullMark}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="percentage" [minWidth]="30" [width]="70" [canAutoResize]="true" [cellClass]="getCellClass">

                <ng-template let-column="column"  let-sort="sortFn" ngx-datatable-header-template>
                    <span class="mobile-hidden">{{'Percentage'}}</span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden "> {{row.percentage}}</span>
                </ng-template>
            </ngx-datatable-column>
        <ngx-datatable-column  name="result" [minWidth]="30" [width]="70" [canAutoResize]="true" [cellClass]="getCellClass">

            <ng-template let-column="column"  let-sort="sortFn" ngx-datatable-header-template>
                <span class="mobile-hidden">{{'Result'}}</span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span class="mobile-hidden " *ngIf ="row.percentage >= 40">Pass</span>
                <span class="mobile-hidden " *ngIf ="row.percentage < 40">Fail</span>
            </ng-template>
        </ngx-datatable-column>
        <div style="padding-left: 5px;">
          <!--[page]="curPage"
          [count]="rowCount"
          [hidden]="!((rowCount / pageSize) > 1)"-->
            <datatable-pager
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"

                    [size]="pageSize"

                    (change)="myTable.onFooterPage($event)">
            </datatable-pager>
        </div>
</ngx-datatable>
