<div [ngSwitch]="datarows[rowIndex][mark]">
  <div *ngSwitchCase ="'INCOMPLETE'" >
    <span style="font-size:10px;" class="desktop-hidden"><!-- <i class="material-icons" style="color:coral;"  matTooltip="In progress">
      assignment_late
    </i>-->{{'IN PROGRESS'}}</span>
    <span class="mobile-hidden"> <!--<i class="material-icons" style="color:coral;"  matTooltip="In progress">
      assignment_late
    </i>-->{{'IN PROGRESS'}}</span>

  </div>
  <div *ngSwitchCase ="'COMPLETE'">
    <span style="font-size:10px;" class="desktop-hidden"> <!--<i class="material-icons" style="color:green; "  matTooltip="In progress">
       assignment_turned_in
    </i>-->{{datarows[rowIndex][mark]}}</span>
    <span class="mobile-hidden"><!-- <i class="material-icons" style="color:green;"  matTooltip="In progress">
      assignment_turned_in
    </i>-->{{datarows[rowIndex][mark]}}</span>
  </div>
  <div *ngSwitchDefault>
     <span style="font-size:10px;" class="desktop-hidden"> <!--<i class="material-icons" style="color:green; "  matTooltip="In progress">
       assignment_turned_in
    </i>--><b>{{datarows[rowIndex][mark]}}</b></span>
    <span class="mobile-hidden"><!-- <i class="material-icons" style="color:green;"  matTooltip="In progress">
      assignment_turned_in
    </i>--><b>{{datarows[rowIndex][mark]}}</b></span>
    <!--{{datarows[rowIndex][mark]}}-->
  </div>
</div>
