<div class="chat-box" [ngClass]="{'close':isClosed, 'open':!isClosed}">
<div class="chat-header">
  <div class="icon-placement">
      <span class="pull-left">  &nbsp;&nbsp; Chat with us</span>
    <div class="row pull-right">
       <a (click)="toggleChat()" *ngIf="isClosed"> <i class="material-icons  col s2 m1 l1">add_circle</i></a>
       <a (click)="toggleChat()" *ngIf="!isClosed"> <i class="material-icons  col s2 m1 l1">indeterminate_check_box</i></a>
    </div>  
  </div>
</div>
<div class="chat-body" [ngStyle]="{'display':isClosed ? 'none' : 'inline'}">
    <ng-container *ngFor="let message of messages | async">
    
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                        'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
    
    </ng-container> 
</div>
<div class="row chat-footer" [ngStyle]="{'display':isClosed ? 'none' : 'inline'}">
    <mat-form-field class="col s10 l10 m10">
      
        <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
      </mat-form-field>
      <a (click)="sendMessage()"><i class="material-icons pull-right col s2 l2 m2 send-button">send</i></a>
      <!-- <div class="md-form col s12 l12 m12">
          <input type="test" id="materialFormLoginEmailEx" class="form-control">
          <a (click)="sendMessage()"><i class="material-icons  pull-right">send</i></a>
      </div> -->
      
  </div>
</div>
