<!--<form [formGroup]="formGroup" novalidate>
  <mat-vertical-stepper #linearVerticalStepper="matVerticalStepper" formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Fill out Student's Details</ng-template>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="standard" formControlName="standard" (change)="getRollNumber()" [(ngModel)]="standards">
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
          <mat-option value="12">12</mat-option>
        </mat-select>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Roll Number " formControlName="rollNumber" [(ngModel)]="rollnumber">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="School Name" formControlName="school" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button  matStepperNext color="accent">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>
        <div>Fill out Parent's Details</div>
      </ng-template>
      <mat-form-field>
        <input matInput placeholder="Parent Name" formControlName="parentName" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="E-mail Address" formControlName="email">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button  matStepperPrevious color="accent">Back</button>
        <button  matStepperNext color="accent">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
      <ng-template matStepLabel>
        Image uploader
      </ng-template>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="email">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <div>
        <button  matStepperPrevious color="accent">Back</button>
        <button  color="accent" type="submit" (click)="createStudent(formGroup.value.formArray)">Done</button>
        <button type="button" (click)="linearVerticalStepper.reset()" color="accent">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</form>-->
<mat-card>
  <mat-card-content>
    <mat-horizontal-stepper [linear]="true">
      <mat-step [stepControl]="studentInfoFromGroup">
        <form [formGroup]="studentInfoFromGroup" class="row">
          <div>
            <ng-template matStepLabel>Fill out Student's Details</ng-template>
            <div>
              <div>

                <mat-form-field class="col s12 m6">
                  <input matInput placeholder="First Name" formControlName="firstName" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field class="col s12 m6">
                  <input matInput placeholder="Last Name" formControlName="lastName" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field >
                <mat-form-field class="col s12 m6">
                  <mat-select placeholder="standard" formControlName="standard" (change)="getRollNumber()" [(ngModel)]="standards">
                    <mat-option value="9">9</mat-option>
                    <mat-option value="10">10</mat-option>
                    <mat-option value="11">11</mat-option>
                    <mat-option value="12">12</mat-option>

                  </mat-select>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
                <mat-form-field class="col s12 m6">
                  <input matInput placeholder="Roll Number " formControlName="rollNumber" [(ngModel)]="rollnumber">
                  <mat-error>This field is required</mat-error>
                </mat-form-field>

                <mat-form-field class="col s12 m6">
                  <input matInput placeholder="School Name" formControlName="school" required>
                  <mat-error>This field is required</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="pull-right">
              <button  matStepperNext  class="btn btn-default">Next</button>
            </div>
          </div>
        </form>

      </mat-step>
      <mat-step [stepControl]="parentInfoFromGroup">
        <form [formGroup]="parentInfoFromGroup" class="row">
          <div>
            <ng-template matStepLabel>
              <div>Fill out Parent's Details</div>
            </ng-template>
            <mat-form-field class="col s12 m6">
              <input matInput placeholder="Parent Name" formControlName="parentName" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col s12 m6">
              <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col s12 m6">
              <input matInput placeholder="E-mail Address" formControlName="email">
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col s12 m6">
              <mat-select placeholder="Fees Mode" formControlName="feesMode">
                <mat-option value="1">Monthly</mat-option>
                <mat-option value="3">Quarterly</mat-option>
                <mat-option value="12">Annual3</mat-option>

              </mat-select>
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field class="col s12 m6">
              <input matInput [matDatepicker]="picker" formControlName = "lastFeesPaid" required placeholder="Fees Paid Date" placeholder="Enter Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>This field is required</mat-error>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>
            <div class="pull-right">
              <button  matStepperPrevious class="btn btn-info">Back</button>
              <button  matStepperNext  class="btn btn-default">Next</button>
            </div>
          </div>
        </form>

      </mat-step>
      <mat-step [stepControl]="imageInfoFromGroup">
        <form [formGroup]="imageInfoFromGroup">
          <div>

            <ng-template matStepLabel>
              Image uploader
            </ng-template>
            <input type="file" (change)="fileChangeEvent($event)" />

<div>
  <image-cropper

      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="128"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"
      style="max-height: 33vh"
      [style.display]="cropperReady ? null : 'none'"
  ></image-cropper>
</div>
<img [src]="croppedImage" />
            <div>
              <button  matStepperPrevious class="btn btn-info">Back</button>
              <button  class="btn btn-success" type="submit" (click)="createStudentHorizontal()">Save</button>
              <button type="button" (click)="studentInfoFromGroup.reset()" class="btn btn-warning">Reset</button>
            </div>
          </div>
        </form>

      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>



