<mat-card>
  <mat-card-content>
    <div>
      <div class="row">
        <div matTooltip="Add Student!" class="col s6 m3">
          <button mat-fab (click)="addStudent()" alt="addStudent">
          </button>
        </div>
        <div matTooltip="View Student!" class="col s6 m3">

          <button mat-fab (click)="viewStudent()" alt="viewStudent">

          </button>

        </div>
        <div matTooltip="Delete Student!" class="col s6 m3">

          <button mat-fab (click)="addStudent()" alt="deleteStudent">

          </button>

        </div>
        <div matTooltip="Edit Student!" class=" col s6 m3">

          <button mat-fab (click)="editStudent()" alt="editStudent">

          </button>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<div class="clear">
  <div  [ngSwitch]="studentOperations">
    <div *ngSwitchCase="'create'">
      <app-add-student></app-add-student>
    </div>
    <div *ngSwitchCase="'edit'">
        <app-edit-student></app-edit-student>
    </div>
  </div>
</div>
<!--<mat-card>
  <mat-card-content>-->

<!--  </mat-card-content></mat-card>-->






