<mat-card>
  <mat-card-content>
    <div>
      <div class="row">
        <div matTooltip="Add Student!" class="col s6 m3 icons">
          <i class="fa fa-user-plus fa-6x add-icon" (click)="addStudent()" aria-hidden="true"></i>
        </div>
        <div matTooltip="View Student!" class="col s6 m3 icons">
          <i class="fa fa-user-circle-o fa-6x view-icon" (click)="viewStudent()" aria-hidden="true"></i>
        </div>
        <div matTooltip="Edit Student!" class=" col s6 m3 icons">
          <i class="fa fa-user fa-6x edit-icon" (click)="editStudent()" aria-hidden="true"></i>
        </div>
        <div matTooltip="Delete Student!" class="col s6 m3 icons">
          <i class="fa fa-user-times fa-6x delete-icon" (click)="addStudent()" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br>
<div class="clear">
  <div  [ngSwitch]="studentOperations">
    <div *ngSwitchCase="'create'">
      <app-add-student></app-add-student>
    </div>
    <div *ngSwitchCase="'edit'">
        <app-edit-student></app-edit-student>
    </div>
    <div *ngSwitchCase="'show'">
      <app-show-student></app-show-student>
    </div>
  </div>
</div>
<!--<mat-card>
  <mat-card-content>-->

<!--  </mat-card-content></mat-card>-->






