<div class="btc-header-container">
  <div class="container">
    <div class="btc-header">
      <span class="btc-title">Balaji Tuition Center</span>
      <span class="right">
            <span class="icon-space">
              <i class="small-icon material-icons">exit_to_app</i>
              <a class="log-in" (click)="openLogin()" >Log in</a>
            </span>
            <span>
              <i class="small-icon material-icons">phone</i>
              <a class="contact-us">Contact us</a>
            </span>
          </span>
    </div>
  </div>
</div>
<div class="btc-menu-container">
  <div class="container">
    <div class="btc-menu">
      <span class="btc-logo">LOGO</span>
      <span class="right">
        <span class="log-in icon-space" href="#">About us</span>
        <span class="contact-us icon-space" href="#">Courses offered</span>
        <span class="log-in icon-space" href="#whybtc">Why BTC?</span>
        <span class="contact-us icon-space" href="#ächivements">Achievements</span>
        <span class="waves-effect join-now btn" (click)="openJoinNow()">JOIN NOW</span>
      </span>
    </div>
  </div>
</div>
<!--<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>-->
<router-outlet></router-outlet>
<!--<router-outlet></router-outlet>-->





<!--
<div style="height: 100vh;">

  <mat-toolbar color="primary">

    <span>Responsive Navigation</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true" fxLayoutAlign="end end">

      &lt;!&ndash; The following menu items will be hidden on both SM and XS screen sizes &ndash;&gt;

      <a routerLink="/admin" routerLinkActive="active" mat-button>Admin</a>

      <a href="#" mat-button>Menu Item 2</a>

      <a href="#" mat-button>Menu Item 3</a>

      <a href="#" mat-button>Menu Item 4</a>

      <a href="#" mat-button>Menu Item 5</a>

      <a href="#" mat-button>Menu Item 6</a>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">

      <a (click)="sidenav.open()">Show Side Menu</a>

    </div>

  </mat-toolbar>

  <mat-sidenav-container fxFlexFill color="primary">

    <mat-sidenav #sidenav fxLayout="column">

      <div fxLayout="column">

        <a (click)="sidenav.close()" href="#" mat-button>Close</a>

        <a routerLink="/admin" routerLinkActive="active" mat-button>Admin</a>

        <a href="#" mat-button>Menu Item 2</a>

        <a href="#" mat-button>Menu Item 3</a>

        <a href="#" mat-button>Menu Item 4</a>

        <a href="#" mat-button>Menu Item 5</a>

        <a href="#" mat-button>Menu Item 6</a>

      </div>

    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <div>

            <router-outlet></router-outlet>
          <spinner [entryComponent]="loaderComponent"  [debounceDelay]="200"></spinner>
        </div>

      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>


-->
