<ngx-loading-bar></ngx-loading-bar>
<div class="btc-header-container">
  <div class="container">
    <div class="btc-header">
      <a class="btc-title" href="#!" (click) = "homeNavigator()">Balaji Tuition Center</a>
      <span class="right">
            <span class="icon-space">
              <i class="small-icon material-icons">exit_to_app</i>
              <a *ngIf="!showLogin"class="log-in" (click)="openLogin()" >Log in</a>
              <a *ngIf="showLogin" class="log-in" (click)="openLogout()" >Log out</a>
            </span>
            <span>
              <i class="small-icon material-icons">phone</i>
              <a class="contact-us" [ngx-scroll-to]="'#contactus'">Contact us</a>
            </span>
        <!--<span *ngIf="showLogin">
              <i class="small-icon material-icons">user</i>
              <a class="contact-us" (click) = "navigateToMyAccount()" >My Account</a>
            </span>-->
          </span>
    </div>
  </div>
</div>

<div class="btc-menu-container" *ngIf="showMenu"  [ngClass]="{'custom-fixed-nav-bar':fixedNavbar}">
  <!--<mdb-navbar SideClass ="fixed-top scrolling-navbar">-->
  <div class="container">
    <div class="btc-menu nav-wrapper">
      <a href="#" class="btc-logo">BTC</a>
      <a  data-activates="mobile-demo" (click)="sidenav.toggle()" class="button-collapse hide-on-large-only"><i class="material-icons fa-3x">menu</i></a>
      <span class="right hide-on-med-and-down">
        <span class="log-in icon-space" href="'#about-us'">About us</span>
        <span class="contact-us icon-space" [ngx-scroll-to]="'#courses'">Courses offered</span>
        <span class="log-in icon-space" [ngx-scroll-to]="'#whybtc'">Why BTC?</span>
        <span class="contact-us icon-space" [ngx-scroll-to]="'#ächivements'">Achievements</span>
        <span class="contact-us icon-space" [ngx-scroll-to]="'#contactus'">Contact us</span>
        <span *ngIf="showLogin" class="contact-us icon-space" (click) = "navigateToMyAccount()">MyAccount</span>
        <span class="waves-effect join-now btn" (click)="openJoinNow()">JOIN NOW</span>
      </span>
      <mdb-sidenav #sidenav class="fixed" [fixed]="true" hide-on-large-only>
      <span style="padding: 20px 20px;">
        <div class="log-in side-nav-space" [ngx-scroll-to]="'#about-us'">About us</div>
        <div class="contact-us side-nav-space" [ngx-scroll-to]="'#courses'">Courses offered</div>
        <div class="log-in side-nav-space" [ngx-scroll-to]="'#whybtc'">Why BTC?</div>
        <div class="contact-us side-nav-space" [ngx-scroll-to]="'#ächivements'">Achievements</div>
        <div class="contact-us icon-space" [ngx-scroll-to]="'#contactus'">Contact us</div>
        <div *ngIf="showLogin" class="contact-us side-nav-space" (click) = "navigateToMyAccount()">My Account</div>
        <div class="waves-effect btn btn-cyan" (click)="openJoinNow()">JOIN NOW</div>
      </span>
      </mdb-sidenav>
    </div>
  </div>

</div>



<router-outlet></router-outlet>
<!--<router-outlet></router-outlet>-->

<app-chat-dialog *ngIf="showMenu"></app-chat-dialog>

