
  <div>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Student">
        <mat-card>
          <app-student-admin></app-student-admin>
        </mat-card>
      </mat-tab>
      <mat-tab label="Attendance">
        <mat-card>
          <app-attendance></app-attendance>
        </mat-card>
      </mat-tab>
      <mat-tab label="Test">
        <mat-card>
          <app-test></app-test>
        </mat-card>
      </mat-tab>
      <mat-tab label="Syllabus">
        <app-syllabus></app-syllabus>
      </mat-tab>

    </mat-tab-group>
  </div>

