.mat-tab-group{
  display: table;
  width: 100%;
}

.mat-tab{
  display: table-cell;
}

.mat-tab-label-container{
  margin-bottom: 20px !important;
}
.card-padd{
  padding-left: 50px !important;
  padding-right: 50px !important;
}

