  <div class="admin-container">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab class="label" label="Student">
        <mat-card class="card-padd" style="padding-top: 40px;">
          <app-student-admin></app-student-admin>
        </mat-card>
      </mat-tab>
      <mat-tab class="label" label="Attendance">
        <mat-card class="card-padd">
          <app-attendance></app-attendance>
        </mat-card>
      </mat-tab>
      <mat-tab class="label" label="Test">
        <mat-card class="card-padd">
          <app-test></app-test>
        </mat-card>
      </mat-tab>
      <mat-tab class="label" label="Syllabus">
        <mat-card class="card-padd">
        <app-syllabus></app-syllabus>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>

