.chip-margin{
    margin: 15px 5px;
    padding: 10px;
}

.title{
  margin-bottom: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 26px;
  color: #4d4d4d;
  font-weight: 500;
}
.syllabus-content{
  padding: 20px 30px;
}
