<!--<ngx-loading-bar></ngx-loading-bar>-->
<div class="row">
  <div class="col s12 m12 l6">
    <div class="card student-profile">
      <app-studentprofile></app-studentprofile>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card student-profile">
     <app-student-charts [chartData] = 'testChartData'></app-student-charts>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card student-profile">
      <app-student-attendance-chart [chartData] = 'attendanceChartData'></app-student-attendance-chart>
    </div>
  </div>
</div>


<div>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="Attendance">
      <app-studentattendance (attendanceChartData) = getAttendanceChartData($event)></app-studentattendance>
    </mat-tab>
    <mat-tab label="Test">
      <app-studenttest (testChartData) = getTestChartData($event)></app-studenttest>
    </mat-tab>
    <mat-tab label="Syllabus">
      <app-studentsyllabus></app-studentsyllabus>
    </mat-tab>

  </mat-tab-group>
</div>
