
<div class="btc-container-1 section scrollspy">
  <div class="container">
    <div class="btc-container">
      <div class="btc-lorem">Lorem ipsum is a dummy text</div>
      <div class="btc-lorem-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <!-- <a class="waves-effect join-now-l btn">JOIN NOW</a> -->
      <a class="btn blue-gradient btn-rounded">JOIN NOW</a>
    </div>
  </div>
</div>
<div class="btc-about-container section scrollspy">
  <div class="container">
    <div class="btc-container">
      <div class="btc-about-us">About us</div>
      <div class="row">
        <div class="col l4">
          <img src="./../assets/images/group-6.png">
        </div>
        <div class="col l6">
          <div class="btc-lorem-content-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </div>
          <div class="btc-lorem-content-3">Lorem ipsum dolor sit amet</div>
          <ul>
            <li class="consectetur-adipisci">consectetur adipiscing elit, sed do</li>
            <li class="consectetur-adipisci">consectetur adipiscing elit, sed do</li>
            <li class="consectetur-adipisci">consectetur adipiscing elit, sed do</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btc-container-2 section scrollspy">
  <div class="container">
    <div class="btc-course">
      <div class="Courses-Offered">Courses offered</div>
      <div class="courses">
        <div class="d-flex justify-content-center row">
          <div class=" col l4 course">
            <div class="card-panel ">
              <div class="course-header">

              </div>
              <div class="Course-title">
                Course-title
              </div>
              <div class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
              <div class="Read-more">Read more</div>
            </div>

          </div>
          <div class=" col l4 course">
            <div class="card-panel ">
              <div class="course-header">
              </div>
              <div class="Course-title">
                Course-title
              </div>
              <div class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </div>
              <div class="Read-more">Read more</div>
            </div>
          </div>
          <div class=" col l4 course">
            <div class="card-panel ">
              <div class="course-header">
              </div>
              <div class="Course-title">
                Course-title
              </div>
              <div class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </div>
              <div class="Read-more">Read more</div>
            </div>
          </div>
        </div><br>
        <div class="d-flex justify-content-center row">
          <div class=" col l4 offset-l2 course">
            <div class="card-panel ">
              <div class="course-header">

              </div>
              <div class="Course-title">
                Course-title
              </div>
              <div class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </div>
              <div class="Read-more">Read more</div>
            </div>
          </div>
          <div class=" col l4 course">
            <div class="card-panel ">
              <div class="course-header">

              </div>
              <div class="Course-title">
                Course-title
              </div>
              <div class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          </div>
              <div class="Read-more">Read more</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div>
       <owl-carousel
         [options]="{items: 3, dots: false, navigation: false}"
       [items]="images"
       [carouselClasses]="['owl-theme', 'row', 'sliding']">
       <div class="item" *ngFor="let image of images;let i = index">
        &lt;!&ndash; <div class="thumbnail-image" [ngStyle]="{'background': 'url('abc.jpg')no-repeat scroll center center / 80px 80px'}"></div>&ndash;&gt;
       </div>
       </owl-carousel>
     </div>-->
  </div>
</div>

<div class="btc-container-why section scrollspy" id="whybtc">
  <div class="container">
      <div class="Why-BTC">Why BTC?</div>
      <div class="tab">
        <button class="tablinks" (click)="openCity($event, 'Incident')">Incident Management</button>
        <button class="tablinks"  (click)="openCity($event, 'Service')">Service Catalog</button>
        <button class="tablinks"  (click)="openCity($event, 'Asset')">Asset Management</button>
      </div>
      <div id="Incident" class="tabcontent">
        <img src="./../../assets/images/asset-management.png">
      </div>
      <div id="Service" class="tabcontent">
        <img src="./../../assets/images/asset-management.png">
      </div>
      <div id="Asset" class="tabcontent">
        <img src="./../../assets/images/group-6.png">
      </div>
  </div>
</div>


<div class="btc-container-achieve section scrollspy" id="ächivements">
  <div class="container">
  <div class="achivements">
    Achivements
  </div>
  <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad()" class="carousel-demo">
    <ngx-tile NgxCarouselItem *ngFor="let tiles of carouselTileItems; let i = index;">
      <div class="trophy">
        <img src="../../assets/icons/trophy.png" width="100px" height="100px">
        <div class="marks">100/100</div>
        <div class="subject-scored">In HSC Mathematics</div>
        <div class="achieverName">Madhan</div>
        <div class="year">2010</div>
      </div>
    </ngx-tile>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
  </ngx-carousel>
</div>
</div>

