.btc-container-1{
  background-image: url("../../assets/images/1635-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: linear-gradient(to bottom, #e0e0e0, rgba(238, 238, 238, 0));*/
  /*background-image: linear-gradient(to bottom, #1C2331, #b0bec5);*/
  padding-bottom: 5rem;
}
.btc-container-2{
 /* background-image: linear-gradient(to bottom, #e0e0e0, rgba(238, 238, 238, 0));*/
 /* background-image: linear-gradient(to bottom, rgba(224, 224, 224, 0.2), rgba(238, 238, 238, 0));*/
  /*background-image: linear-gradient(to bottom, #1C2331, #929fba );*/
  /*background-image: linear-gradient(60deg, #fff8e1 0%, #f0f4c3 100%);*/
  background-image: linear-gradient(15deg, #f0f4c3 0%, #80d0c7 50%, #13547a 100%);
}

.btc-lorem{
  padding-top: 93px;
  font-family: ProximaNova;
  font-size: 36px;
  line-height: 1.33;
  text-align: left;
 /* color: #4d4d4d;*/
  color: white;
}
.btc-lorem-content{
  width: 380px;
  height: 72px;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: white;
  margin: 15px 0px 25px 0px;
}
.join-now{
  padding: 7px 14px;
  line-height: 21px;
  border-radius: 3px;
  background-color: #333333;
  margin-bottom: 163px;
  color: white !important;
}
.join-now-l{
  padding: 8px 40px;
  line-height: 21px;
  border-radius: 3px;
  background-color: #333333;
  margin-bottom: 163px;
}
.btc-about-us{
  padding-top: 48px;
  margin-bottom: 45px;
  font-family: ProximaNova;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #4d4d4d;
}
.btc-lorem-content-2 {
  /*width: 620px;*/
 /* height: 150px;*/
  font-family: ProximaNova;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
  margin: 15px 0px 25px 0px;
}
.btc-lorem-content-3 {
  width: 193px;
  height: 24px;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #333333;
}
.consectetur-adipisci {
  height: 24px;
  font-family: ProximaNova;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #666666;
}

.About-us {
  height: 43px;
  font-family: ProximaNova;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 51px;
  color: rgb(74, 74, 74);
}

.book{
  padding-top: 5px;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.Lorem-ipsum-dolor-si {
  width: 620px;
  height: 150px;
  font-family: ProximaNova;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: rgb(102, 102, 102);
}
.about-us{
  display: inline-block;
  clear: both;
}
.Courses-Offered {
  font-family: ProximaNova;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  padding-top: 56px;
  color: rgb(77, 77, 77);
}

.course-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.course-cards-item {
  max-width: 50%;
}
.courses{
  margin-top:46px;
}
.course{
  /*height: 300px;*/
  transition: all 0.5s;
}
.course:hover{
  transform: scale(1.05);
}
.course-header{
  height: 110px;
  width: 110px;
  border: solid #eeeeee;
  border-radius: 50%;
  margin: auto;
  background-color: #eeeeee;
}

.Course-title {
  margin-top: 23px;
  margin-bottom: 10px;
  height: 25px;
  font-family: ProximaNova;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(51, 51, 51);
}
.Course-details {
  margin-top: 10px;
  height: 87px;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: rgb(102, 102, 102);
}
.carousel-demo {
  margin: 50px;
}
.trophy{
  align-items: center;
  text-align: center;
}

/*.trophy > p {
  margin-bottom: 0rem;
}*/
.marks{
  /*height: 48px;*/
  font-family: ProximaNova;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: rgb(77, 77, 77);
}

.subject-scored {
  /*height: 17px;*/
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(102, 102, 102);
}

.achieverName{
  /*height: 22px;*/
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(51, 51, 51);
}
.year{
 /* height: 17px;*/
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(102, 102, 102);
}

.leftRs {
  position: absolute;
  padding: 0px !important;
  color: #333333;
  top: 90px;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: -15px;
}

.rightRs {
  position: absolute;
  color: #333333;
  padding: 0px !important;
  top: 90px;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: -15px;
}
.angle{
  font-size: 2rem;
  color: gray;
}

.achivements{
  height: 48px;
  font-family: ProximaNova;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  padding-top: 74px;
  margin-top: 74px;
  margin-bottom: 86px;
  color: rgb(77, 77, 77);
  /*color: white;*/
}
.Read-more {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}
.btc-container-achieve{
  /*background-color: rgba(216, 216, 216, 0.1);*/
  /*background-color: #1C2331 !important;*/
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 50%, #f0f4c3 100%);
  /*background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #f0f4c3 100%);*/
}
.btc-container-why{

}

.tab {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 10px 10.4%;
  transition: 0.3s;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f7f7f7;
}

/* Style the tab content */
.tabcontent {
  text-align: center;
  display: none;
  padding: 6px 12px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  margin-top: 30px;
}
.Why-BTC {
  margin-top: 60px;
  margin-bottom: 46px;
  font-family: ProximaNova;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #4d4d4d;
}
footer {
}
footer div.social-media-links {
  background: #1C2331 !important;
  overflow: hidden;
  padding-bottom:20px;
  text-align: center;
}
footer div.social-media-links ul {
  margin: 0;
  padding: 10px 0px;
  display: inline;
}
footer div.social-media-links li {
  display: inline;
  margin: 0;
  padding: 10px;
}
footer div.social-media-links a {
  border-bottom: 0px solid rgba(0, 0, 0, 0.95);
  border-radius: 4px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 30px;
  padding: 20px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
footer div.social-media-links a svg {
  height: 30px;
  width: 30px;
}
footer div.social-media-links a svg.glow path,
footer div.social-media-links a svg.glow circle {
  fill: rgba(0, 0, 0, 0);
}
footer div.social-media-links a svg path,
footer div.social-media-links a svg circle {
  fill: white;
  transition: 0.2s ease-in;
}
footer div.social-media-links a:hover {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.05), 0 24px 24px rgba(0, 0, 0, 0.05), 0 36px 36px rgba(0, 0, 0, 0.05), 0 64px 64px rgba(0, 0, 0, 0.15), 0 64px 128px rgba(0, 0, 0, 0.15), 0 86px 8px 6px rgba(14, 186, 199, 0.25), 0 83px 4px 0px rgba(14, 186, 199, 0.95);
}
footer div.social-media-links a:hover svg.glow {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><f…ter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
footer div.social-media-links a:hover svg.glow path,
footer div.social-media-links a:hover svg.glow circle {
  fill: rgba(14, 186, 199, 0.6);
}
footer div.social-media-links a:hover svg path,
footer div.social-media-links a:hover svg circle {
  fill: #0ebac7;
}
.footer-text{
  font-size: 12px;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card-radius{
  border-radius: 20px !important;
}
.contact-us-content{
  display: inline-block;
  padding-left: 40px;
  justify-content: center;
  align-self: center;
}
