<div class="btc-container-1">
  <div class="container">
    <div class="btc-container">
      <div class="btc-lorem">Lorem ipsum is a dummy text</div>
      <div class="btc-lorem-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <a class="waves-effect join-now btn">JOIN NOW</a>
    </div>
    <div>
      <p class="About-us center-align"> About Us</p>
      <div class="row">
        <img src="../../assets/icons/about-us-book.png" class="book col s4">
        <div class="col s8">
           <span class="Lorem-ipsum-dolor-si ">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </span>
          <p><b>Lorem ipsum dolor sit amet</b></p>
          <ul>
            <li>consectetur adipiscing elit, sed do</li>
            <li>consectetur adipiscing elit, sed do</li>
            <li>consectetur adipiscing elit, sed do</li>
          </ul>
        </div>

    </div>

    </div>
    <div class="Courses-Offered">
      <p class="Courses-offered-Title center-align">
        Courses offered
      </p><br>
      <div class="courses">
        <div class="d-flex justify-content-center row">
          <div class=" col-4 course">
            <div class="card-panel ">
              <div class="course-header">

              </div>
              <div class="Course-title">
                Course-title
              </div>
          <span class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </span>
            </div>

          </div>
          <div class=" col-4 course">
            <div class="card-panel ">
              <div class="course-header">
              </div>
              <div class="Course-title">
                Course-title
              </div>
              <span class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </span>
            </div>
          </div>
          <div class=" col-4 course">
            <div class="card-panel ">
              <div class="course-header">
              </div>
              <div class="Course-title">
                Course-title
              </div>
              <span class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </span>
            </div>
          </div>
        </div><br>
        <div class="d-flex justify-content-center row">
          <div class=" col-4 course">
            <div class="card-panel ">
              <div class="course-header">

              </div>
              <div class="Course-title">
                Course-title
              </div>
              <span class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          </span>
            </div>
          </div>
          <div class=" col-4 course">
            <div class="card-panel ">
              <div class="course-header">

              </div>
              <div class="Course-title">
                Course-title
              </div>
              <span class="Course-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
          </span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div>
      <owl-carousel
        [options]="{items: 3, dots: false, navigation: false}"
      [items]="images"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let image of images;let i = index">
       <!-- <div class="thumbnail-image" [ngStyle]="{'background': 'url('abc.jpg')no-repeat scroll center center / 80px 80px'}"></div>-->
      </div>
      </owl-carousel>
    </div>
  </div>
</div>
